@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

:root {
	/* 
	--darkgray: #484747;
	--mediumgray: #929292;
	--lightgray: #D8D8D8;
	--palegray: #F3F3F3; 
	--yellow: #ffaf74;
	--orange: #f58c73;
	--red: #D67676;
	--blue: #0082ac;
	--light-blue: #55b4d1;
	*/


	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}